.item-topic{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.item-topic svg{
  margin: 0 0.5rem 0 0.75rem;
  color: var(--orange-500);
}

.item-topic .topic-details{
  display: flex;
  align-items: left;
  flex-direction: column;
  flex: 1;
}

.item-topic .topic-details h4{
  color: var(--blue-800);
}