.card header{
  display: flex;
  padding-top: 0.5rem;
}

.card header div{
  display: flex;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.card header div span{
  font-size: 0.75rem;
  font-weight: 700;
}

.card ul{
  margin-left: 10rem;
}